{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
    <div class="tab-pane fade about-section active show" id="about">
        <div>
            <div class="title-section text-left text-sm-center">
                <h1>ABOUT <span>ME</span></h1><span class="title-bg">Resume</span>
            </div>
            <section class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="text-uppercase custom-title mb-0 ft-wt-600"> personal infos </h3>
                                </div>
                                <!-- <div class="col-12 d-block d-sm-none"><img src="/img/img-mobile.d97134f3.jpg"
                                            class="img-fluid main-img-mobile" alt="about avatar"></div> -->
                                <div class="col-12">
                                    <ul class="about-list list-unstyled open-sans-font">
                                        <li><span class="title">first name: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Steve</span>
                                        </li>
                                        <li><span class="title">last name: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Milner</span>
                                        </li>
                                        <li><span class="title">Age: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">27
                                                Years</span></li>
                                        <li><span class="title">Nationality: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Tunisian</span>
                                        </li>
                                        <li><span class="title">Freelance: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Available</span>
                                        </li>
                                        <li><span class="title">Address: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Tunis</span>
                                        </li>
                                        <li><span class="title">phone: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">+21621184010</span>
                                        </li>
                                        <li><span class="title">Email: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">you@mail.com</span>
                                        </li>
                                        <li><span class="title">Skype: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">
                                                steve.milner</span></li>
                                        <li><span class="title">langages: </span><span
                                                class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">French,
                                                English</span></li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-1 btn-con">
                                    <a class="more-btn">
                                        <!-- <span
                                                class="button-text">Download CV</span><span
                                                class="button-icon fa fa-download">
                                            </span> -->
                                        <h2 class="more-info">Download CV</h2>
                                        <i class="fa-solid fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 col-12 mt-5 mt-lg-0">
                            <div class="row">
                                <div class="col-6">
                                    <div class="box-stats with-margin">
                                        <h3 class="poppins-font position-relative">12</h3>
                                        <p class="open-sans-font m-0 position-relative text-uppercase">years of <span
                                                class="d-block">experience</span></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-stats with-margin">
                                        <h3 class="poppins-font position-relative">97</h3>
                                        <p class="open-sans-font m-0 position-relative text-uppercase">completed <span
                                                class="d-block">projects</span></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-stats with-margin">
                                        <h3 class="poppins-font position-relative">81</h3>
                                        <p class="open-sans-font m-0 position-relative text-uppercase">Happy <span
                                                class="d-block">customers</span></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-stats with-margin">
                                        <h3 class="poppins-font position-relative">53</h3>
                                        <p class="open-sans-font m-0 position-relative text-uppercase">awards <span
                                                class="d-block">won</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="separator">    
    
                    <!--!!!!!! skill  -->
                    <div class="col-12-exp">
                        <h3
                            class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">
                            My Skills
                        </h3>
                    </div>
                    <div class="row-1 skill-container">
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fas fa-code fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">HTML</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 25%;"></div>
                            </div>
                            <div class="percentage">25%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-js fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">JavaScript</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 89%;"></div>
                            </div>
                            <div class="percentage">89%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-css3-alt fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">CSS</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 70%;"></div>
                            </div>
                            <div class="percentage">70%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-php fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 66%;"></div>
                            </div>
                            <div class="percentage">66%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-php fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 66%;"></div>
                            </div>
                            <div class="percentage">66%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-php fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 66%;"></div>
                            </div>
                            <div class="percentage">66%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-php fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 66%;"></div>
                            </div>
                            <div class="percentage">66%</div>
                        </div>
    
                        <div class="skill-card">
                            <!-- Skill item content -->
                            <div class="logo">
                                <i class="fab fa-php fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: 66%;"></div>
                            </div>
                            <div class="percentage">66%</div>
                        </div>
    
                    </div>
                    <hr class="separator mt-1">
    
                    <!--!!!!!! experience  -->
                    <div class="row-1">
                        <div class="col-12-exp">
                            <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">Experience
                                &amp; Education
                            </h3>
                        </div>
                        <div class="experience-container">
                            <div class="experience-column">
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2018 - Present</span>
                                        <h5 class="poppins-font text-uppercase">Web Developer <span
                                                class="place open-sans-font">Envato</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, consectetur tempor incididunt
                                            ut labore
                                            adipisicing elit</p>
                                    </div>
                                </div>
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2013 - 2018</span>
                                        <h5 class="poppins-font text-uppercase">UI/UX Designer <span
                                                class="place open-sans-font">Themeforest</span></h5>
                                        <p class="open-sans-font">Lorem incididunt dolor sit amet, consectetur eiusmod dunt
                                            doldunt dol
                                            elit, tempor incididunt</p>
                                    </div>
                                </div>
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2005 - 2013</span>
                                        <h5 class="poppins-font text-uppercase">Consultant <span
                                                class="place open-sans-font">Videohive</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, tempor incididunt ut
                                            laboreconsectetur elit,
                                            sed do eiusmod tempor duntt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experience-column">
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2015</span>
                                        <h5 class="poppins-font text-uppercase">ENGINEERING DEGREE <span
                                                class="place open-sans-font">OXFORD
                                                UNIVERSITY</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, consectetur tempor incididunt
                                            ut labore
                                            adipisicing elit</p>
                                    </div>
                                </div>
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2012</span>
                                        <h5 class="poppins-font text-uppercase">MASTER DEGREE <span
                                                class="place open-sans-font">KIEV
                                                UNIVERSITY</span></h5>
                                        <p class="open-sans-font">Lorem incididunt dolor sit amet, consectetur eiusmod dunt
                                            doldunt dol
                                            elit, tempor incididunt</p>
                                    </div>
                                </div>
                                <div class="experience-item">
                                    <div class="icon"><i class="fa fa-briefcase"></i></div>
                                    <span class="liner"></span>
                                    <div class="experience-content">
                                        <span class="time open-sans-font text-uppercase">2009</span>
                                        <h5 class="poppins-font text-uppercase">BACHELOR DEGREE <span
                                                class="place open-sans-font">TUNIS
                                                HIGH SCHOOL</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, tempor incididunt ut
                                            laboreconsectetur elit,
                                            sed do eiusmod tempor duntt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
        </div>
    </div>
{% endblock %}
