<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- <script src="index.js" defer></script> -->

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav class="nav-section">
            <ul class="nav-links">
                <li>
                    <a href="{{ url_for('index') }}">
                        <button class="nav-btn">
                            <h2 class="link-title">Home</h2>
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('about') }}">
                        <button class="nav-btn">
                            <h2 class="link-title">About</h2>
                            <i class="fa-solid fa-user"></i>
                        </button>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('portfolio') }}">
                        <button class="nav-btn">
                            <h2 class="link-title">Portfolio</h2>
                            <i class="fa-solid fa-briefcase"></i>
                        </button>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('contact') }}">
                        <button class="nav-btn">
                            <h2 class="link-title">Contact</h2>
                            <i class="fa-solid fa-envelope"></i>
                        </button>
                    </a>
                </li>

                <li>
                    <a href="blog.html">
                        <button class="nav-btn">
                            <h2 class="link-title">Blog</h2>
                            <i class="fa-solid fa-comments"></i>
                        </button>
                    </a>
                </li>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

</body>

</html>


