{% extends 'base.html' %}


{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <section class="home-section">
        <div class="home-container">
            <div class="image-box"></div>
            <div class="intro-box">
                <div class="header-intro">
                    <h1>Hello World</h1>
                </div>
                <div class="header-info"></div>
                <div class="btn-con">
                    <button class="more-btn">
                        <h2 class="more-info">more about me</h2>
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
