{% extends 'base.html' %}


{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <section class="home-section">
        <div class="home-container">
            <div class="image-box"></div>
            <div class="intro-box">
                <div class="header-intro">
                    <h1>
                        I'm Emmanuel Kabari.
                        <span>Back-End Developer</span>
                    </h1>
                    
                </div>
                <div class="header-info">
                    <p>
                        I'm a Tunisian based web designer & front‑end developer focused on crafting clean & user‑friendly experiences, I am passionate about building excellent software that improves the lives of those around me.
                    </p>
                </div>
                <div class="btn-con">
                    <button class="more-btn">
                        <h2 class="more-info">more about me</h2>
                        <!-- <i class="fa-solid fa-search"></i> -->
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
